#homePage{
    display: block;
}
#newUserPage{
    display: none;
}

#existingUserPage{
    display: none;
}
#mainMenu{
    display: none;
}
#tdMedicine{
    margin-top :3rem;
    margin-left :10rem;
}
#deleteTable{
    width:30%;
    margin-top :3rem;
    margin-left :10rem;
}
#addBtn{
    margin-top:5rem;
    margin-left:10rem;
}
#btn{
    display: none;
}
#operationBtn{
    display: none;
}

#medicineDetails{
    display: none;
}
#delete{
    display: none;
}
/* #tdMedicine{
    display: none;
} */
#topUpPage{
    display: none;
}
#topUpPage1{
    display: none;
}
#orderHistory{
    display: none;
}
#purchase{
    display: none;
}
/* #tdOrder{
    display: none;
}
#tdPurchase{
    display: none;
} */
#showBalance1{
    display: none;
}
#cancel{
    display: none;
}
#showBalance{
    display: none;
}
#buyCount{
    display: none;
}
